<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K7ZB6FL');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" href="https://assets.ubuntu.com/v1/bbba0152-vanilla_favicon_16px.png" type="image/x-icon" />
  <title>Vanilla Framework</title>
  <meta name="description" content="">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="css/main.css">
  <!-- Crazy Egg A/B testing -->
  <script type="text/javascript" src="https://script.crazyegg.com/pages/scripts/0011/8875.js" async="async"></script>
  <!-- PWA -->
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-navbutton-color" content="#E7542D">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#E7542D">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Vanilla Framework">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Vanilla Framework">
  <!-- Tile for Win8 -->
  <meta name="msapplication-TileColor" content="#E7542D">
  <!-- Register service worker for offline -->
  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', {scope: '/'})
        .then(function(reg) {
          console.log('Registration succeeded. Scope is ' + reg.scope);
        }).catch(function(error) {
          console.log('Registration failed with ' + error);
        });
    }
  </script>
</head>
