<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K7ZB6FL');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://assets.ubuntu.com/v1/bbba0152-vanilla_favicon_16px.png" type="image/x-icon" />
    <title>Vanilla Framework</title>
    <meta name="description" content="Vanilla is a simple extensible CSS framework, written in Sass, by the Ubuntu Web Team">
    {% if page.copydoc %}<meta name="copydoc" content="{{ page.copydoc }}" />{% endif %}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.css" async="async">
    <!-- Crazy Egg A/B testing -->
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0011/8875.js" async="async"></script>
    <!-- PWA -->
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Vanilla Framework">
    <meta name="apple-mobile-web-app-title" content="Vanilla Framework">
    <meta name="theme-color" content="#E7542D">
    <meta name="msapplication-navbutton-color" content="#E7542D">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
