<header id="navigation" class="p-navigation--light js-navigation" role="banner">
  <div class="p-navigation__logo">
    <a class="p-navigation__link" href="#">
      <span class="u-off-screen">Vanilla Framework</span>
      <img
        src="https://assets.ubuntu.com/v1/d96d86b5-vanilla_black-orange_hex.svg"
        alt="Vanilla framework logo"
        style="float:left;" />
    </a>
  </div>
  <a href="#navigation" class="p-navigation__toggle--open" title="menu">
    Menu
  </a>
  <a href="#navigation-closed" class="p-navigation__toggle--close"
    title="close menu">
    Close
  </a>
  <nav class="p-navigation__nav">
    <span class="u-off-screen">
      <a href="#main-content">Jump to main content</a>
    </span>
    <div class="p-navigation__links">
      <a class="p-navigation__link" href="#">Getting started</a>
      <a class="p-navigation__link" href="https://docs.vanillaframework.io/en/">Docs</a>
      <a class="p-navigation__link" href="/accessibility">Accessibility</a>
      <a class="p-navigation__link" href="/browser-support">Browser support</a>
      <a class="p-navigation__link" href="/coding-standards">Coding standards</a>
      <a class="p-navigation__link" href="https://github.com/vanilla-framework/vanilla-framework/blob/develop/CONTRIBUTING.md">Contribute</a>
    </div>
  </nav>
</header>
