@charset 'utf-8';

// import settings
@import 'settings_breakpoints';
@import 'settings_colors';

// import vanilla
@import 'vanilla-brochure-theme/scss/theme';
@include vanilla-brochure-theme;

@import 'patterns_navigation';
@import 'patterns_syntax-highlight';
@include vfio-p-navigation;
@include vfio-p-syntax-highlight;

// XXX: Ant 13-04-2017
// Temporary styling until the muted heading pattern is developed:
// https://github.com/vanilla-framework/vanilla-brochure-theme/issues/66
.p-muted-heading {
  color: $color-dark;
  font-size: .875rem;
  text-transform: uppercase;
}
