@charset 'utf-8';

// import vanilla
@import "vanilla-framework/scss/build";


// temp styling for brochure theme

// .p-strip--hero
.p-strip--hero {
  @extend .p-strip;
  background: url(https://assets.ubuntu.com/v1/06a0285e-image-background-paper.png);
  background-size: cover;
  margin-top: -2rem;
  padding: 4rem 0;
}

// .p-strip--image
.p-strip--image {
  @extend .p-strip;
  background: url(https://assets.ubuntu.com/v1/06a0285e-image-background-paper.png);
  background-size: cover;
}

// .p-divider
.p-divider {

  &__block {
    border-right: 1px solid $color-mid-light;

    &:last-child {
      border-right: 0;
    }
  }
}
